################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserSupport/bin
/UserSupport/obj
/UserSupport/appsettings.Development.json
/.vs
