################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserSupport/bin
/UserSupport/obj
/UserSupport/appsettings.Development.json
/.vs
/UserSupport.Common/bin/Debug/net8.0
/UserSupport.Common/obj
/UserSupport.Infrastructure/bin/Debug/net8.0
/UserSupport.Infrastructure/obj
/UserSupport.Test/bin/Debug/net8.0
/UserSupport.Test/obj
